Repository dennisja/mtn-momo: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["yarn format", "yarn lint"],
  "**/*.json": ["prettier --write"]
}

chore: add commit lint
  .commitlintrc.json
  .husky/commit-msg
  package.json
  yarn.lock
Due: prettier --write

chore: add commit lint (#8)
  .commitlintrc.json
  .husky/commit-msg
  package.json
  yarn.lock
Due: prettier --write

chore(tests): setup vitest
  package.json
  src/provisioning/__tests__/createAPIKey.test.ts
  src/provisioning/createAPIKey.ts
  yarn.lock
Due: yarn format, yarn lint, prettier --write

chore(test): add coverage support
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write

chore(tests): add test command to lint staged
  .lintstagedrc.json
Due: prettier --write

fix(lint): fix linting error
  .lintstagedrc.json
  package.json
  src/provisioning/__tests__/createAPIKey.test.ts
  src/provisioning/createAPIKey.ts
Due: yarn format, yarn lint, prettier --write

chore(tests): add tests for creating the provisioning client
  src/provisioning/__tests__/client.test.ts
Due: yarn format, yarn lint

chore(tests): setup vitest (#9)
  .lintstagedrc.json
  package.json
  src/provisioning/__tests__/client.test.ts
  src/provisioning/__tests__/createAPIKey.test.ts
  src/provisioning/createAPIKey.ts
  vite.config.ts
  yarn.lock
Due: yarn format, yarn lint, prettier --write

feat(tokens): implement creating tokens
  src/client.ts
  src/index.ts
  src/tokens/client.ts
  src/tokens/createAccessToken.ts
  src/tokens/createOAuthToken.ts
  src/tokens/createToken.ts
  src/tokens/index.ts
  src/types.ts
Due: yarn format, yarn lint

feat(tokens): remove the createToken method because of the createOAuthToken problems
  src/tokens/client.ts
  src/tokens/createAccessToken.ts
  src/tokens/createOAuthToken.ts
  src/tokens/createToken.ts
  src/tokens/index.ts
Due: yarn format, yarn lint

chore(tests): add tests for token client creation
  src/client.ts
  src/provisioning/__tests__/client.test.ts
  src/provisioning/client.ts
  src/tokens/__tests__/client.test.ts
  src/tokens/client.ts
Due: yarn format, yarn lint

chore(readme): update readme
  README.md
Due: none

feat(tokens): implement creating tokens (#11)
  README.md
  src/client.ts
  src/index.ts
  src/provisioning/__tests__/client.test.ts
  src/provisioning/client.ts
  src/tokens/__tests__/client.test.ts
  src/tokens/client.ts
  src/tokens/createAccessToken.ts
  src/tokens/createOAuthToken.ts
  src/tokens/index.ts
  src/types.ts
Due: yarn format, yarn lint

feat(lint): add lint, typecheck and test action
  .github/workflows/lint-tsc-and-test.yml
  package.json
  tsconfig.json
Due: prettier --write

feat(lint): add lint, typecheck and test action (#13)
  .github/workflows/lint-tsc-and-test.yml
  package.json
  tsconfig.json
Due: prettier --write

feat(auth): separate authorization
  src/products/client.ts
  src/products/createTransactionStatusFetcher.ts
  src/products/withAuthorization.ts
Due: yarn format, yarn lint

feat(client): implement creating a product client
  src/products/client.ts
  src/products/collection.ts
  src/tokens/createOrRefreshAccessToken.ts
Due: yarn format, yarn lint

fix(types): fix type issues
  src/products/client.ts
  src/products/collection.ts
  src/products/createTransactionInitiator.ts
  src/products/createTransactionStatusFetcher.ts
  src/products/disbursement.ts
  src/products/remittance.ts
  src/products/types.ts
Due: yarn format, yarn lint

chore(tests): add tests for token refreshing
  package.json
  src/tokens/__tests__/createOrRefreshAccessToken.test.ts
  src/tokens/createAccessToken.ts
  yarn.lock
Due: yarn format, yarn lint, prettier --write

feat(products): implement transaction and transaction status fetching
  src/products/client.ts
  src/products/collection.ts
  src/products/createTransactionInitiator.ts
  src/products/createTransactionStatusFetcher.ts
  src/products/disbursement.ts
  src/products/remmitence.ts
  src/products/types.ts
  src/products/utils.ts
Due: yarn format, yarn lint

chore(client): add client tests and rearrange files
  README.md
  src/products/collection.ts
  src/products/common/__tests__/client.test.ts
  src/products/common/client.ts
  src/products/common/createTransactionInitiator.ts
  src/products/common/createTransactionStatusFetcher.ts
  src/products/common/types.ts
  src/products/common/utils.ts
  src/products/common/withAuthorization.ts
  src/products/disbursement.ts
  src/products/index.ts
  src/products/remittance.ts
  src/products/utils.ts
Due: yarn format, yarn lint

fix: cache and export api creators
  src/index.ts
  src/products/client.ts
  src/products/index.ts
  src/products/remittance.ts
  src/tokens/createOrRefreshAccessToken.ts
Due: yarn format, yarn lint

feat(docs): add documentation for the added methods
  .lintstagedrc.json
  README.md
Due: prettier --write

refactor: move expiredAt calculation
  src/tokens/createAccessToken.ts
  src/tokens/createOrRefreshAccessToken.ts
Due: yarn format, yarn lint

fix(types): include missing types
  src/products/index.ts
Due: yarn format, yarn lint

fix: test and lint action
  .github/workflows/lint-tsc-and-test.yml
Due: none

fix(action): remove description
  .github/workflows/lint-tsc-and-test.yml
Due: none

fix(action): run action when PR is edited
  .github/workflows/lint-tsc-and-test.yml
Due: none

feat(balance): implement get account balance
  src/products/collection.ts
  src/products/common/createAccountBalanceFetcher.ts
  src/products/disbursement.ts
  src/products/remittance.ts
Due: yarn format, yarn lint

feat(docs): include getAccountBalance in readme
  README.md
Due: none

chore(tests): add tests for getting accunt balance
  README.md
  src/products/__tests__/collection.test.ts
  src/products/__tests__/disbursement.test.ts
  src/products/__tests__/remittance.test.ts
  src/products/__tests__/testUtils.ts
Due: yarn format, yarn lint

feat(user info): implement getting basic user info
  src/products/collection.ts
  src/products/common/createGetBasicUserInfo.ts
  src/products/disbursement.ts
  src/products/remittance.ts
Due: yarn format, yarn lint

feat(docs): add getBasicUserInfo documentation
  README.md
Due: none

chore(tests): add tests for getBasicUser info
  README.md
  src/products/__tests__/collection.test.ts
  src/products/__tests__/disbursement.test.ts
  src/products/__tests__/getAccountBalance.test.ts
  src/products/__tests__/getBasicUserInfo.test.ts
  src/products/__tests__/remittance.test.ts
  src/products/__tests__/services.ts
  src/products/common/createGetBasicUserInfo.ts
Due: yarn format, yarn lint

feat(validate): add functions to validate account holder status
  src/products/collection.ts
  src/products/common/createValidateAccountHolderStatus.ts
  src/products/disbursement.ts
  src/products/index.ts
  src/products/remittance.ts
Due: yarn format, yarn lint

feat(docs): add validate account holder status documentation
  README.md
Due: none

chore(tests): add tests for validating account holder status
  README.md
  src/products/__tests__/getAccountBalance.test.ts
  src/products/__tests__/getBasicUserInfo.test.ts
  src/products/__tests__/validateAccountHolderStatus.test.ts
Due: yarn format, yarn lint

chore(tests): add tests for createUser functionality
  src/provisioning/__tests__/createAPIKey.test.ts
  src/provisioning/__tests__/createAPIUser.test.ts
  src/provisioning/createAPIKey.ts
  src/provisioning/createAPIUser.ts
  src/provisioning/fetchAPIUser.ts
Due: yarn format, yarn lint

chore(tests): add tests for createAPIKey
  src/provisioning/__tests__/fetchAPIUser.test.ts
Due: yarn format, yarn lint

chore(tests): modify tests for creating API key
  src/provisioning/__tests__/createAPIKey.test.ts
  src/provisioning/__tests__/fetchAPIUser.test.ts
Due: yarn format, yarn lint
