Repository dennisja/mtn-momo: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint, yarn test related --run, prettier --write

chore(tests): add provisioning tests
  src/provisioning/__tests__/provision.test.ts
Due: yarn format, yarn lint, yarn test related --run

feat(products): implement requestToPayDeliveryNotification
  src/products/collection.ts
  src/products/common/createRequestToPayDeliveryNotification.ts
  src/products/disbursement.ts
  src/products/remittance.ts
  src/provisioning/createAPIUser.ts
Due: yarn format, yarn lint, yarn test related --run

chore(tests): add tests for requestToPayDeliveryNotification
  src/products/__tests__/requestToPayDeliveryNotification.test.ts
Due: yarn format, yarn lint, yarn test related --run

docs: include requestToPayDeliveryNotification in docs
  README.md
Due: none

feat(balance): implement getting account balance in specific currency
  src/products/collection.ts
  src/products/common/createAccountBalanceFetcher.ts
  src/products/disbursement.ts
Due: yarn format, yarn lint, yarn test related --run

chore(tests): add tests for get account balance in specific currency
  src/products/__tests__/getAccountBalanceInSpecificCurrency.test.ts
Due: yarn format, yarn lint, yarn test related --run

feat(tests): add tests for transfer/requestToPay
  src/products/__tests__/transfer.test.ts
Due: yarn format, yarn lint, yarn test related --run

chore(tests): add tests for transaction status
  src/products/__tests__/transfer.test.ts
  src/products/__tests__/transferStatus.test.ts
  src/products/__tests__/validateAccountHolderStatus.test.ts
Due: yarn format, yarn lint, yarn test related --run

fix: eslint warning
  src/products/__tests__/transferStatus.test.ts
Due: yarn format, yarn lint, yarn test related --run

refactor(name): change name
  README.md
  package.json
Due: prettier --write

feat(changesets): add changesets to generate changelogs and publish package
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: prettier --write

chore(changesets): add changesets
  .changeset/rotten-vans-divide.md
Due: none

chore: add package version
  .changeset/rotten-vans-divide.md
  CHANGELOG.md
  package.json
Due: prettier --write

fix: make package public
  .changeset/config.json
Due: prettier --write

feat(badge): add tests badge
  .github/workflows/coverage.yml
  README.md
  package.json
Due: prettier --write

chore(coverage): report coverage
  .changeset/great-sheep-shake.md
  .github/workflows/coverage.yml
  README.md
  vite.config.ts
Due: none

Path conditions:
  yarn format: any of: src/**/*.ts
  yarn lint: any of: src/**/*.ts
  yarn test related --run: any of: src/**/*.ts
  prettier --write: any of: **/*.json
